.u-margin-top-medium { 
    margin-top: 9rem !important; 
}

.u-margin-top-small { 
    margin-top: 3rem !important; 
}

.u-intro-area {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.u-intro-paragraph {
    max-width: 53rem;
    padding: 0 3rem;
}
